@using BlogUI.Layouts
<ThemeProvider Theme="@theme">
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <AuthorizeView>
                <Authorized>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <h1>404 Error</h1>
                        <p>Sorry, there's nothing at this address.</p>
                    </LayoutView>
                </Authorized>                
            </AuthorizeView>            
        </NotFound>
    </Router>
</ThemeProvider>
@code{
    Theme theme = new Theme
    {
        LuminanceThreshold = 170,
        ColorOptions = new ThemeColorOptions
        {
            Primary = "#497aca",
            Secondary = "#414b54",
            Success = "#4fa06c",
            Danger = "#ce504d",
            Warning = "#da9f26",
            Info = "#4f9cbd",
        },
        BackgroundOptions = new ThemeBackgroundOptions
        {
            Primary = "#497aca",
            Secondary = "#414b54",
            Success = "#4fa06c",
            Danger = "#ce504d",
            Warning = "#da9f26",
            Info = "#4f9cbd",
        },
        TextColorOptions = new ThemeTextColorOptions
        {
            Primary = "#497aca",
            Secondary = "#414b54",
            Success = "#4fa06c",
            Danger = "#ce504d",
            Warning = "#da9f26",
            Info = "#4f9cbd",
        }
    };
}